@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model WebAdvert.Web.Models.Account.ForgetPassword.ConfirmForgetPasswordModel;

@{
    ViewData["title"] = "Change your new Password";
}

<div class="row justify-content-center" >
    <div class="col-md-4">
        <form method="post" asp-controller="Account" asp-action="ConfirmForgetPassword">
            <h4>Please, confirm your new password.</h4>
            <div asp-validation-summary="All" class="text-danger">

            </div>

            <div class="form-outline mb-2">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-outline mb-2">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control"/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

             <div class="form-outline mb-2">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control"/>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            
            <div class="form-outline mb-2">
                <label asp-for="Code"></label>
                <input asp-for="Code" class="form-control"/>
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            
            <div class="form-outline mb-2">
                <button class="btn btn-primary btn-block mb-4" type="submit">Change</button>
            </div>

        </form>
    </div>
</div>