@model List<WebAdvert.Web.Models.AdvertManagement.AdvertCardModel>
@{
    ViewData["Title"] = "Home Page";
}
<div id="Search">
    <div class="row">
        <span>Enter a keyword:</span>
    </div>

        <form method="post" asp-controller="Home" asp-action="Search">
            <div class="row">
            <input type="text" class="col-md-9 col-xs-9 col-sm-9" name="keyword" id="keyword" required placeholder="Keyword" />
            <div class="col-md-1 col-xs-1 col-sm-1"></div>
            <button type="submit" class="btn-secondary col-md-2 col-xs-2 col-sm-2"  placeholder="Keyword" required>Search</button>
            </div>
        </form>
    </div>

<br />
<div class="row">
    @{
        foreach (var viewModel in Model)
        {
            await Html.RenderPartialAsync("../AdvertManagement/AdvertCard", viewModel);
        }
    }
</div>

@Html.Partial("../AdvertManagement/AdvertDetail")

